.main {
    width: 900px;
    margin: 0 auto;
    background-color: var(--background-color);
    padding: 0 20px;
}

.title {
    padding-top: 20px;
    text-align: center;
    font-family: fantasy;
    font-size: 1.7em;
    font-weight: bolder;
}

.content {

}