.main {
    width: 800px;
    margin: 0 auto;
    background-color: var(--background-color);
    height: 100vh;
}

.info {
    display: flex;
}

.info img {
    height: 200px;
    width: 200px;
    padding: 20px;
    border-radius: 50px;
}

.description {
    font-family: fantasy;
    font-weight: bolder;
    font-size: 1.3em;
    color: coral;
    padding-top: 30px;
    padding-left: 50px;
}

.about {
    font-family: "Apple SD Gothic Neo";
    font-size: 0.8em;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 65px;
}
